@import "../../src/media-queries/media-queries";
@import "../../src/retina-images/retina-images";
@import "../../src/clearfix/clearfix";
@import "../../src/z-index/z-index";
@import "../../src/breakpoint/breakpoint";
@import "../../src/text-truncate/text-truncate";


/**
 * Media Queries examples
 * ----------------------
 */
p {
    @include desktop {
        font-size: 16px;
    }

    @include tablet {
        font-size: 14px;
    }

    @include mobile {
        font-size: 12px;
    }

    @include print {
        color: #000000;
    }
}

.logo {
    background: url(logo.png);
    @include retina {
        background: url(logo-2x.png);
    }
}


/**
 * Retina images example
 * ---------------------
 */
.logo-alt {
    background: url(logo.png);
    @include image-2x('logo-2x', 100px, 25px);
}


/**
 * Clearfix example
 * ----------------
 */
.section {
    @include clearfix();
}


/**
 * z-index example
 * ----------------
 */
.modal {
    @include z-index(modal);
}
.navigation {
    @include z-index(navigation);
}


/**
 * Breakpoint example
 * ------------------
 */
.page-wrap {
    width: 75%;
    @include breakpoint(large) { width: 60%; }
    @include breakpoint(medium) { width: 80%; }
    @include breakpoint(small) { width: 95%; }
}


/**
 * Truncate text example
 * ---------------------
 */
.truncated-a {
    display:block;
    @extend %text-truncate;
}

.truncated-b {
    display: inline-block;
    @extend %text-truncate;
}